In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
import plotly.express as px
import datetime as dt
%matplotlib inline

In [9]:
df=pd.read_csv('cleaned_Chicago_crime_2')

### creat date difference for progrees timeline

In [12]:
df['Updated On'] = pd.to_datetime(df['Updated On'] , errors='coerce')

In [ ]:
df['Date'] = pd.to_datetime(df['Date'] , errors='coerce')

In [ ]:
df['Date Difference'] = (df['Updated On'] - df['Date']).dt.days

In [ ]:
df['Date Difference'] = df['Date Difference'] / 365

In [ ]:
df.head(20)

## extract time, day, month

In [9]:
df['Day'] = df['Date'].dt.day_name()

In [10]:
df['Month'] = df['Date'].dt.month_name()

In [11]:
df['time'] = df['Date'].dt.time

In [12]:
df.head(5)

,ID,Case Number,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,FBI Code,Year,Updated On,new block address,Date Difference,Day,Month,time
0,11646166,JC213529,2018-09-01 00:01:00,THEFT,OVER $500,RESIDENCE,False,True,631,6.0,06,2018,2019-04-06 16:04:43,S INGLESIDE AVE,0.594521,Saturday,September,00:01:00
1,11645836,JC212333,2016-05-01 00:25:00,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,824,8.0,11,2016,2019-04-06 16:04:43,S ROCKWELL ST,2.931507,Sunday,May,00:25:00
2,11449702,JB373031,2018-07-31 13:30:00,NARCOTICS,POSS: HEROIN(WHITE),STREET,True,False,233,2.0,18,2018,2019-04-09 16:24:58,E HYDE PARK BLVD,0.690411,Tuesday,July,13:30:00
3,11643334,JC209972,2018-12-19 16:30:00,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,2514,25.0,14,2018,2019-04-04 16:16:11,W WELLINGTON AVE,0.287671,Wednesday,December,16:30:00
4,11645527,JC212744,2015-02-02 10:00:00,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,811,8.0,11,2015,2019-04-06 16:04:43,W ARCHER AVE,4.175342,Monday,February,10:00:00

In [13]:
df.drop('Date', axis=1, inplace=True)

In [14]:
df.drop('Updated On', axis=1, inplace=True)

In [15]:
df.drop('ID', axis=1, inplace=True)

In [17]:
df.head(5)

,Case Number,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,FBI Code,Year,new block address,Date Difference,Day,Month,time
0,JC213529,THEFT,OVER $500,RESIDENCE,False,True,631,6.0,06,2018,S INGLESIDE AVE,0.594521,Saturday,September,00:01:00
1,JC212333,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,824,8.0,11,2016,S ROCKWELL ST,2.931507,Sunday,May,00:25:00
2,JB373031,NARCOTICS,POSS: HEROIN(WHITE),STREET,True,False,233,2.0,18,2018,E HYDE PARK BLVD,0.690411,Tuesday,July,13:30:00
3,JC209972,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,2514,25.0,14,2018,W WELLINGTON AVE,0.287671,Wednesday,December,16:30:00
4,JC212744,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,811,8.0,11,2015,W ARCHER AVE,4.175342,Monday,February,10:00:00

In [18]:
df.to_csv('cleaned_Chicago_crime_3', index=False)